<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hhh.exp.exp_pub.ExpDao">
	<select id="AllExp" resultType="com.hhh.exp.exp_pub.Exp_pub">
		select e.expid,
		e.typeid,
		e.title,
		e.content,
		e.pubid,
		e.pub_time,
		e.end_time,
		e.status,
		e.url,
		e.num from exp_pub e
	</select>
	<select id="OnlineExp" resultType="com.hhh.exp.exp_pub.Exp_pub">
		select e.expid,
		e.title,
		e.content,
		e.pubid,
		e.pub_time,
		e.end_time,
		e.status
		from exp_pub e
		where e.typeid=1
	</select>
	<insert id="AddExp" parameterType="com.hhh.exp.exp_pub.Exp_pub">
		insert into exp_pub(title,content,pubid,pub_time,end_time,status,typeid,url,num)
		values(#{title},#{content},#{pubid},#{pub_time},#{end_time},#{status},#{typeid},#{url},#{num})
	</insert>
	<update id="UpdateExp" parameterType="com.hhh.exp.exp_pub.Exp_pub">
		update exp_pub set 
		typeid=#{typeid},
		title=#{title},
		content=#{content},
		pubid=#{pubid},
		pub_time=#{pub_time},
		end_time=#{end_time},
		status=#{status},
		url=#{url},
		num=#{num}
		where expid=#{expid}
	</update>
	<delete id="DeleteExp" parameterType="com.hhh.exp.exp_pub.Exp_pub">
		delete from exp_pub where expid=#{expid}
	</delete>
</mapper>