<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hhh.exp.user.UserDAO">
 
	<select id="selectUserByName" parameterType="java.lang.String" resultType="com.hhh.exp.user.User">
		select
		u.userid,
		u.No,
		u.sex,
		u.phone,
		u.name,
		u.password,
		u.roleid
		from user u
		where u.name=#{name}	
	</select>
	<select id="selectRoleByRoleid" parameterType="int" resultType="com.hhh.exp.user.Role">
		select
		r.roleid,
		r.type,
		r.grade
		from role r
		where r.roleid=#{roleid}
	</select>
	<insert id="insertUser" parameterType="com.hhh.exp.user">
		insert into user(No,sex,phone,name,password,roleid) 
		values(#{No},#{sex},#{phone},#{name},#{password},#{roleid})
	</insert>
	<delete id="deleteByuserId" parameterType="com.hhh.exp.user">
		delete from user u where u.userid=#{userid}
	</delete>
	<update id="updateUserById" parameterType="com.hhh.exp.user">
		update user u set
		u.No=#{No},
		u.sex=#{sex},
		u.phone=#{phone},
		u.name=#{name},
		u.password=#{password},
		u.roleid=#{roleid}
		where u.userid=#{userid}
	</update>
</mapper>