<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="NewsQueryMybatis">


	<select id="selectInfoListByTSN" parameterType="java.util.Map" resultType="com.smartlab.des.user.model.N_newsInfo">
		select
		id,title,summary,imageURL,releaseTime,isTop
		from N_newsInfo
		where type=#{type}
		and releaseTime&lt;=#{currentTime}
		and
		isShow=1
		and delFlag=1
		order by
		releaseTime desc
		limit
		#{startNum},#{pageNum}
	</select>
	

	<select id="selectNewsList" resultType="com.smartlab.des.user.model.N_newsInfo">
		select
		info.id as id,
		info.title as title,
		info.summary as summary,
		info.type as type,
		info.createTime as createTime,
		info.releaseTime as releaseTime,
		info.isShow as isShow,
		info.updateTime as updateTime,
		info.publisherId
		as publishId,
		info.imageURL as imageURL,
		info.updateId as updateId,
		info.isTop as isTop,
		info.delFlag as delFlag
		from N_newsInfo info
		where
		info.delFlag=1
	</select>

	<select id="selectNewsListByType" parameterType="java.lang.String"
		resultType="com.smartlab.des.user.model.N_newsInfo">
		select
		info.id as id,
		info.title as title,
		info.summary as
		summary,
		info.type as type,
		info.createTime as createTime,
		info.releaseTime as releaseTime,
		info.isShow as isShow,
		info.updateTime
		as updateTime,
		info.publisherId as publishId,
		info.imageURL as imageURL,
		info.updateId as updateId,
		info.isTop as isTop,
		info.delFlag as delFlag
		from N_newsInfo info  
		where info.delFlag=1 and type=#{type}
	</select>
	
	<select id="selectNewsDetail" parameterType="long" resultType="java.util.Map">
		select info.title as title,
		info.releaseTime as releaseTime,
		detail.content as content,
		detail.description as description
		from N_newsInfo info,N_newsDetail detail
		where info.id=#{newsId} and info.id=detail.infoId  and
		info.delFlag=1 and detail.delFlag=1
	</select>
	
	<select id="selectInfoNumByTypeAndNowTime" parameterType="java.util.Map" resultType="int">
		select count(*) as publishNum from N_newsInfo where type=#{type} and isShow=1 and releaseTime &lt;= #{currentTime} and delFlag=1
	</select>

</mapper>