<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="NewsManageMybatis">
 
	<insert id="insertNewsInfo" parameterType="com.smartlab.des.user.model.N_newsInfo"
		useGeneratedKeys="true" keyProperty="id">
		insert into N_newsInfo
		(isShow,isTop,createTime,releaseTime,title,summary,publisherId,type)
		values(#{isShow},#{isTop},#{createTime},#{releaseTime},#{title},#{summary},#{publishId},#{type})
	</insert>

	<insert id="insertNewsDetail" parameterType="com.smartlab.des.user.model.N_newsDetail">
		insert into
		N_newsDetail (infoId,content,description)
		values(#{infoId},#{content},#{description})
	</insert>


	<update id="updateInfoByInfoId" parameterType="com.smartlab.des.user.model.N_newsInfo">
		update N_newsInfo set
		title=#{title},summary=#{summary},releaseTime=#{releaseTime},type=#{type},isShow=#{isShow},
		isTop=#{isTop},updateId=#{updateId},updateTime=#{updateTime} 
		where id=#{id} and delFlag=1
	</update>

	<update id="updateInfoDetailByInfoId" parameterType="com.smartlab.des.user.model.N_newsDetail">
		update N_newsDetail set
		content=#{content},description=#{description}
		where infoId=#{infoId} and delFlag=1
	</update>


	<!-- delete -->
	<update id="deleteNewsInfoById" parameterType="long">
		update N_newsInfo
		set delFlag=0 where id=#{id}
	</update>

	<update id="updateNewsDetailById" parameterType="long">
		update
		N_newsDetail set delFlag=0 where infoId=#{id}
	</update>

</mapper>